{{ dump()}}
<div class="views-split-pane" data-view-id="{{ view.id }}">
  <div class="views-split-pane__left">
  <div class="views-split-pane__left-title">
      {{ options.left_field_title }}
    </div>
    <div class="views-split-pane__left-content">
    <ul>
      {% for row in rows %}
        <li>
          <a href="#" class="split-pane-link" data-row-index="{{ loop.index0 }}"
            data-ajax-url="{{ path('views_split_pane.load', {node: row.nid}) }}"
            data-view-mode="{{ options.view_mode }}">
            {{ row.fields[options.left_field] }}
          </a>
        </li>
      {% endfor %}
    </ul>
    </div>
  </div>

  <div class="views-split-pane__right">
    <div class="views-split-pane__right-title">
      {{ options.right_field_title }}
    </div>
    <div id="split-pane-target"  class="views-split-pane__right-content">
    <div class="views-split-pane__empty">
      {{ options.empty_message }}
    </div>

    {% for row in rows %}
      <div class="views-split-pane__detail" data-row-index="{{ loop.index0 }}" hidden>
        {{ row.fields[options.right_field] }}
      </div>
    {% endfor %}
    </div>
  </div>
</div>